main{
    height: 100vh;
}
body{
    /*background: rgb(0,1,36);
    background: linear-gradient(90deg, rgba(0,1,36,1) 0%, rgba(40,125,186,1) 66%);*/
    background-size: cover; /* Ajusta o tamanho para cobrir todo o elemento */
    font-family: 'Helvetica';
    padding: 0;
    margin: 0;


}
main{
    border: 1px solid white;
    margin-top: 10%;
}
#logoweather{
    width: 38%;
}
nav{
    width: 600px;
    height: 250px;
    margin: auto;
    text-align: center;
    margin-top: 25% !important;

}
nav > h1{
    margin-top: 5%;
    color: black;
    font-size: 1.4em;   
}

nav > p{
    color: black;;
    font-size: 14px;
    font-weight: 500;
}

#previsao{
    width: 550px;
    font-family: 'Helvetica';
    display: none;
   /* background-color: rgba(160, 160, 208, 0.8); /* Azul com 80% de opacidade */
}


#cityname{
    width: 275px !important;
    height: 35px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 0.5px solid black;
    padding: 5px;
}
#btnprocurar {
    width: 100px;
    border: none;
    padding: 2%;
    border-radius: 30px;
    font-size: 16px;
    color: white;
    background: linear-gradient(145deg, #1d8ce0, #0d6efd);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#btnprocurar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(-100%);
    transition: all 0.4s ease;
}

#btnprocurar:hover::before {
    transform: translateX(0);
}

#btnprocurar:hover {
    background: linear-gradient(145deg, #0d6efd, #1d8ce0);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
}

#btnprocurar:active {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(3px);
}

p#temp, p#temp_feels, p#country, p#weather{
    display: hidden;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
/*img{
    width: 30%;
    height: 20%;
    border: 2px solid;
    margin: auto;
    border: none;
    display: none;
    margin-top: 60px;
}*/

/*Informações*/

#previsao{
    /*border: 1px solid black;*/
    height: 100vh !important;
    margin: 0 !important;
    margin-top: 0px !important;
    border-radius: 0px;

}
div#info_cidade{
    display: flex;
    margin-top: 1%;
}
#nomedacidade{
    font-size: 26px;
    color: white;
}

p#temp{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /* font-weight: bold;*/
    font-size: 90px;
    /*text-shadow: 10px 10px 10px rgba(255, 255, 255, 0.8);*/
    padding-top: 0%;
    margin-top: 20%;
    text-align: center;
    color: white;
}

#bandeira{
    width: 40% !important; 
   /* margin-top: 50%;*/
   margin-left: 20%;
   padding: 20px;
}
.small-font {
    font-size: 0.5em; /* ou qualquer valor desejado */
    margin-left: 10px;
}
p#temp_feels, p#country, p#weather{
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    padding: 10px;
    margin-top: 0;
    background-color: rgba(155, 153, 153, 0.437);
    border-radius: 10px;

}

#result {
    display: flex;
    flex-direction: column; /* Alinha os elementos dentro de #result na vertical */
   /* border: 2px solid;*/
    font-size: 26px;

}

ul {
    width: 100%; /* Garante que a lista ocupe toda a largura de #result */
    padding-left: 20px; /* Insere um espaçamento padrão para alinhamento */
    list-style: none; /* Remove os marcadores padrão */
}

ul li {
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px; /* Espaço entre os itens */
}


footer{
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

